body{
    background-color: aqua;
}

#name{
    display: block;
}
#course{
    display: block;
}
#unit{
    display: block;
}
#image{
    display: block;
}
#batch{
    display: block;
}
input{
    
    border-radius: 10px;
    height: 50px;
    width: 50%;
    margin: auto;
    margin-top: 2%;
}
#button{
    margin-left:25% ;
    background-color: lightsalmon;
    color: white;
    font-size: 25px;
    border: 1px solid white;
}
input::placeholder{
    font-weight: bolder;
    font-size: larger;
}
